<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
{{ partial "head" . }}
</head>

<body>
    <div class="has-background-white column is-offset-1-tablet is-10-tablet is-offset-2-desktop is-8-desktop is-paddingless">

    <header>
        {{ partial "header" . }}
    </header>
    
    <nav>
        {{ partial "navigation" . }}
    </nav>

    <hr class="is-marginless">

    <div class="has-padding-1">
    {{ block "main" . }}
    {{ end }}
    </div>

    <footer class="has-background-grey-lighter">
        {{ partial "footer" . }}
    </footer>

    </div>
</body>

{{ partial "structured-breadcrumbs" . }}

</html>