{{ define "main" }}
    <div class="columns">
        <div class="column">
            <div class="content has-padding-2">
                <h2 class="title is-4">Acquire a certificate in professional development</h2>
                {{ range (.Pages).ByParam "sort" }}
                <div class="has-margin-bottom-1">
                    <a class="" href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "breadcrumbs" . }}
{{ end }}