$turquoise: hsl(200, 90%, 29%)
// $cyan: #b6cbe0
// $red: #e76f51
// $orange: #f4a261
// $yellow: #e9c46a
$link: hsl(205, 79%, 41%)
$green: hsl(86, 33%, 53%)
// $blue: #264683
// $purple: #3b3355

$size-6: 0.9rem

$family-sans-serif:  'Questrial', sans-serif

@import "../node_modules/bulma/bulma"
@import "spacing"

img[alt="Profile picture"],
img[alt="About picture"]
  display: block
  margin: 0 auto
  height: 200px

img.thumb
  width: 150px
  box-shadow: 0 0 10px 0 #aaa

html
  background-color: hsl(13, 18%, 69%)

.content em,
.advance
  white-space: nowrap
  font-style: normal
  font-weight: 900
  font-family: 'Bebas Neue', sans-serif