<form name="message-form" action="/thanks" netlify-honeypot="bot-field" method="POST" netlify>
    <div class="field is-invisible">
        <label class="label is-small">Don’t fill this out if you're human:</label>
        <div class="control">
            <input class="input is-small" type="text" name="bot-field">
        </div>
    </div>
    <div class="box has-background-light is-shadowless">
        <div class="field">
            <label class="label" for="name">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input" name="name" required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="Email input" name="email" required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="message">Message</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea" name="message" required></textarea>
            </div>
        </div>
        <button type="submit" class="button is-primary">Submit</button>
    </div>
</form>