<p>Write us an Email, give us a call, or use the message form below.</p>
<div class="columns">
    <div class="column is-one-third has-padding-2 has-margin-top-2">
        <p class="has-text-weight-bold">Email</p>
        <p class="is-size-6"><a href="mailto:ayeshaiq@gmail.com">ayeshaiq@gmail.com</a></a></p>
        <p class="has-text-weight-bold">Phone (WhatsApp available)</p>
        <p class="is-size-6"><a href="phone:+923135418622">+923135418622</a></p>
    </div>
    <div class="column is-paddingless">
        {{ partial "contact-form" . }}
    </div>
</div>