<div class="has-padding-2">
    <div class="has-text-centered">
        <a href="/about" class="is-size-6">
        <img src="/img/image.png" alt="profile picture" />
        <p>Ayesha Iqbal: Founder of <em class="advance">ADVANCE</em> <strong>education consultancy</strong></p>
        </a>
    </div>
    <br><br><br>
    <div class="has-text-centered">
        <a target="_blank" href="https://web.facebook.com/Mount-HIRA-Street-Children-School-372062566191109/" class="is-size-6">
        <img class="thumb" src="/img/mount-hira.jpg" alt="mount hira" />
        <p class="has-margin-1">Mount Hira School Facebook page</p>
        </a>
    </div>
    <br>
    <div class="has-text-centered">
        <a target="_blank" href="https://faizeaam.org" class="is-size-6">
        <img class="thumb" src="/img/faizeaam.jpg" alt="faizeaam" />
        <p class="has-margin-1">Faize-e-Aam Welfare Trust</p>
        </a>
    </div>
    <br><br><br>
    <div class="has-text-centered">
        <p class="has-text-weight-bold">Contacts</p>
        <p class="is-size-6">Email: <a href="mailto:ayeshaiq@gmail.com">ayeshaiq@gmail.com</a></p>
        <p class="is-size-6">Phone: <a href="phone:+923135418622">+923135418622</a></p>
        <p><a href="/contact">Use contact form</a></p>
    </div>
    <br>
</div>