<div class="has-padding-top-2">
    <div class="has-text-centered">
        <a href="/about" class="is-size-6 has-text-black">
        <img src="/img/image.png" />
        <p>Ayesha Iqbal: Founder of <em class="advance">A D V A N C E</em> <strong>consultancy</strong></p>
        </a>
    </div>
    <br><br><br>
    <div class="has-text-centered">
        <a href="https://web.facebook.com/Mount-HIRA-Street-Children-School-372062566191109/" class="is-size-6 has-text-black">
        <img class="thumb" src="/img/mount-hira.jpg" />
        <p class="has-margin-1">Mount Hira School Facebook page</p>
        </a>
    </div>
    <br>
    <div class="has-text-centered">
        <a href="https://faizeaam.org" class="is-size-6 has-text-black">
        <img class="thumb" src="/img/faizeaam.jpg" />
        <p class="has-margin-1">Faize-e-Aam Welfare Trust</p>
        </a>
    </div>
</div>